# Node.js dependencies
/node_modules

# Compiled files
/build
/dist

# Python dependenci
/backend/venv
/backend/StudentHelper/chatbot/
/backend/StudentHelper/chatting/chroma
/backend/StudentHelper/chatting/data
/backend/StudentHelper/chroma

/venv
/venv
/myenv

# Python compiled files
*.pyc

# Django migrations
/migrations

# Local environment files
.env

# IDE or editor specific files
.vscode
.idea

# Logs and temporary files
*.log
*.tmp

# MongoDB data directory
/db/data

