# Node.js dependencies
/node_modules

# Compiled files
/build
/dist

# Python dependencie

/venv
/venv
/myenv

# Python compiled files
*.pyc

# Django migrations
/migrations

# Local environment files
.env

# IDE or editor specific files
.vscode
.idea

# Logs and temporary files
*.log
*.tmp

# MongoDB data directory
/db/data
