.sidebar{
    width : 300px;
    height : 600px;
    border-radius: 7px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    background-color: #4D2C5E;
    margin-top: 25px;
}


.topbox{
    height: 80px;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.middilebox{
    height : 300px;
    
    margin-top: 10px;
    
    
}
.middilebox a{
    
    margin-top:20px;
    font-size: 20px;
    font: weight 10px ;
      
}
.line{
    margin-top: 30px;

}

.bottombox{
    height:80px;
    margin-top:80px;
    margin-left:70px ;
}
.line a {
    color: white;
    margin-left: 20px;
    margin-top: 32px;
    text-decoration: none;
}

.line img{
    width: 30px;
    height: 30px;
    color: white;
    margin-left:15px
}
.line a:hover {
    background-color: #111;
  }


.profile{
    margin-left: 1px;
    width : 800px;
    height : 600px;
    border-radius: 7px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #FDF8EE;
    margin-top: 25px;

}

.navbar-nav .nav-link.active {
    text-decoration: underline;
}

.profileData{
    width:40rem;
    height:10rem;
    margin-left: 10px;
}

.profileData button{
    background: none;
    border: none;
    color: #4D2C5E;/* Example color */
    cursor: pointer;
  
    font-size: 1.7rem;
    font-weight: bold;
    
    
}

.underlineButton {
    text-decoration: none;
    background: none;
    border: none;
    color: #4D2C5E;/* Example color */
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .underlineButton.underlined {
    text-decoration: underline;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .profileData input{
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-top: 1px solid #4D2C5E;
    border-right: 1px solid #4D2C5E;
    border-bottom: 1px solid #4D2C5E;
    border-left: 1px solid #4D2C5E;
  }
  
  label {
    margin-bottom: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #575252;
  }

 


  .Courses button{
    border-radius: 30px;
    background-color: #FF7426;
    padding: 10px 40px;
    color: white;
    border: none;
    margin-right:20px;
    margin-top: 10px;
  }

  .Courses p{
    color: #4D2C5E;
    font-weight: bold;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .image{
    width: 10rem;
    height:10rem;
    margin-left: 40rem;
    margin-top: 0;
  }

  .bottom{
    width: 40rem;
    height:10rem;
  }